
.modal-body label{

    margin-left: 4.5rem ;
    font-family: 'Jost';
    
}

.close{
border: none    ;
}

.modal-body input{

   font-family: 'Raleway';
   border-radius: 5px;
   border-color: black;
   outline: none;
   font-size: 15px;

}

.modal-content{
    margin-top: 12rem;
    margin-left: 8rem;
}

.modal-title{
    font-family: 'Jost';
}

.form-group{
    width: 30rem;
    margin-left: -7px;
}

