table{
    position: relative;
    color:black;
    margin-top:8rem !important;
    margin-left: -1px;
  
  }
  
  
  tr{
    font-family: 'Raleway';
    font-size: 18px;
    margin-left:1rem !important;
  
  }
  
  table, th, td {
  
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(236, 236, 236);
    
   
  }
  
  th{
    color:6C0000;
  }


  
.boxmov {
  position: relative;
  width: 19.1rem;
  height: 56.8rem;
  left: 8.9px !important;
  top: 8px !important;
  margin-right: -19rem;
  border-radius: 5px;
  border: 5px solid #7FBCB1;
  background-color: black;


}

.moviment {
  font-family: 'Jost';
  position: relative;
  top: 23.5vh !important;
  margin-left: 2.5rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 400s;
  color: white;

}

.direitos{
  margin-left:25px;
  margin-top:55.5rem;
}

.bemvindo{
  margin-top:1.3rem;
}

.corpoavante{
  margin-top:8px;
  margin-left:8px;
}

